
        .categoria {background-color: white; text-align: center; font-weight: bold; font-size: 14pt; font-family: "Segoe UI"; "sans-serif" ; color: gray;}
        .post-it {background-color: rgb(219, 219, 219); text-align: center;  color: rgb(100, 100, 100); font-size: 12pt; font-family: "Segoe UI"; "sans-serif";}
        .detalhes {background-color: rgb(219, 219, 219); text-align: center; color: rgb(100, 100, 100); font-style: italic; font-size: 12pt; font-family: "Segoe UI"; "sans-serif";}
